* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: papayawhip;
}

h2 {
   text-align: center;
   margin-bottom: 2rem;
}

.list1, .list2, .list3 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 1.5rem;
   margin: 0 2rem;
   margin-bottom: 1.8rem;
}

p {
   color: #FFF;
   background-color: navy;
   font-size: 13px;
   font-weight: bold;
   text-align: center;
   padding: .65rem;
   border: 8px solid #FFF;
   border-style: double;
}